.arm_table {
	width: 100%;
	line-height: 16px;
	margin-top: 20px;
}
.arm_table td {
	border: 1px solid #D7D7D7!important;
	text-align: left;
	padding: 3px 3px 3px 3px;
}
.arm_header{
	font-weight: bold;
	text-align: center!important;
}